@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

a {
  color: black !important;
}
.brand-logo,
h2 {
  font-family: "Grand Hotel", cursive;
  font-size: 28px;
  text-decoration: none;
  margin-left: 10px;
}
.mycard {
  margin-top: 30px;
}
.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}
.btn-icon {
  background-color: white;
  border: none;
  cursor: pointer;
}
.btn-icon:focus {
  outline: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}
.list {
  display: block;
  margin: auto 10px auto 10px;
}
.link {
  text-decoration: none;
}
.dp {
  display: flex;
  flex-direction: column;
}
