<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./chat.css" />
  </head>
  <body>
    <div id="chat-container">
      <div id="search-container">
        <input type="text" placeholder="Search" />
      </div>
      <div id="conversation-list">
        <div class="conversation active">
          <img src="images/profiles/daryl.png" alt="Daryl Duckmanton" />
          <div class="title-text">
            Daryl Duckmanton
          </div>
          <div class="created-date">
            3 July
          </div>
          <div class="conversation-message">
            This is a message
          </div>
        </div>
      </div>
      <div id="new-message-container">
        <a href="#">+</a>
      </div>
      <div id="chat-title">
        <span>Daryl Duckmanton</span>
        <img src="images/icons/trash-logo.svg" alt="Delete Conversation" />
      </div>
      <div id="chat-message-list">
        <div class="message-row you-message">
          <div class="message-content">
            <div class="message-text">ok then</div>
            <div class="message-time">3 July</div>
          </div>
        </div>
        <div class="message-row other-message">
          <div class="message-content">
            <img src="images/profiles/daryl.png" alt="Daryl Duckmanton" />
            <div class="message-text">ok then</div>
            <div class="message-time">3 July</div>
          </div>
        </div>
      </div>
      <div id="chat-form">
        <img src="images/icons/attachment-logo.svg" alt="Add Attachment" />
        <input type="text" name="message" placeholder="type a message" />
      </div>
    </div>
  </body>
</html>
