<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./chat.css" />
  </head>
  <body>
    <div id="chat-container">
      <div id="search-container">
        <input type="text" placeholder="Search" />
      </div>
      <div id="new-message-container"><a href="#">+</a></div>
      <div id="conversation-list">conversation-list</div>
      <div id="chat-title">chat-title</div>
      <div id="chat-message-list">chat-message-list</div>
      <div id="chat-form">chat-form</div>
    </div>
  </body>
</html>
